Host *
  ServerAliveInterval 120
  ServerAliveCountMax 10
  ForwardAgent yes
  TCPKeepAlive yes

# 最強のSSH踏み台設定 http://bit.ly/1MD3d24
Host */*
  ProxyCommand ssh -W "$(basename "%h")":%p "$(dirname "%h")"
Host *+*
  ProxyCommand ssh -W "$(sed -E 's/.*\+//'<<<"%h")":%p "$(sed -E 's/\+[^\+]*//'<<<"%h")"
